/* style */
.teamCol{
	width:100px;
	float:left;
	border:1px solid #000000;
}
.pointCol{
	width:30px;
	float:left;
	border:1px solid #000000;
}
.scoreCol{
	width:60px;
	float:left;
	text-align:center;
	border:1px solid #000000;
}
.row{
	width:100%;
	float:left;
	display:block;
	
}
.pointTable{
	width:300px;
	float:left;
	
}
#rateTable{
	width:300px;
	float:left;
	border:1px solid #000000;
}
#weekMatchTable{
	width:300px;
	float:left;
	
}
.rateTeamCol{
	float:left;
	width:220px;
	border-bottom:1px solid #000000;
}
.rateCol{
	float:left;
	width:79px;
	border-bottom:1px solid #000000;
	border-left:1px solid #000000;
}
.center{
	text-align:center;
}

#backgroundPopup {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	border: 1px solid #cecece;
	z-index: 1;
}
#popupMatch{
	display: none;
	position: fixed;				
	width: 408px;
	background: #FFFFFF;
	border: 2px solid #cecece;
	z-index: 2;
	padding: 12px;
	font-size: 13px;
}

#popupMatch h4{
	float:left;
	margin:2px 0px 15px 2px;
}

#popupMatch #matchSaveBtn{
	float:right;
}

#popupCloseBtn{
	float:right;
	font-size: 16px;
	line-height: 16px;
	right: 6px;
	top: 4px;
	position: absolute;
	cursor: pointer;
	text-decoration: none;
}
.matchScore{
	text-decoration: underline;
	cursor: pointer;
}

.matchEditPanel{
	float:left;
	width: 400px;
}

.selectedTeamName{
	float:left;
	width: 150px;
	text-align:center;
}

#selectedScore{
	float:left;
	width: 50px;
}

.table1{
	float:left;
	margin-bottom:50px;
}

#rateTitle{
	border-bottom:1px solid #000000;
}

/* tournaments */

.active{
	color:red;
}
.controlPanel{
	float:left;
	width:100%;
	display:block;
	
}
.tournaments{
	width:800px;
	float:left;
	display:block;
	
}
.col2{
	width:120px;
	float:left;
	border:1px solid #000000;
}
.col1{
	width:60px;
	float:left;
	border:1px solid #000000;
}

.right{
	float:right;
}

/*new group */
.newGroups{
	width:500px;
	float:left;
	display:block;
	
}
.groups{
	width:200px;
	float:left;
	display:block;
	
}
.matches{
	width:300px;
	float:left;
	display:block;
}